
.credits {
    background-image: url("images/Credits.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    background-attachment: fixed;
    }
    
    .returnHome {
        float: Right;
        margin-top: 5%;
        margin-right: 5%;
        border-color: gold;
    }